.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: darksalmon;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: darksalmon;
  scale:1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active{
    scale:1;
}
/*--BUTTON REDIRECT --*/
.button-redirect {
  padding: 1.2em 1.8em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f2b091;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-redirect:hover {
  background-color: darkorange;
  box-shadow: 0px 15px 20px rgba(199, 75, 18);
  color: bisque;
  transform: translateY(-7px);
}

.button-redirect:active {
  transform: translateY(-1px);
}

.button-redirect a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}