<nav class="navbar navbar-expand navbar-light" style="background-color: darksalmon;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viewShopRequests') }}"  target="content">View All Shop Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product-requests-moderation') }}">View product requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("logout") }}" target="content">Logout</a>
        </li>
    </ul>
</nav>

