{% extends 'customer/base.html' %}
{% block content %}
    <div class="container">
        <h1>Your cart</h1>
        {% if items_list is defined %}
            {% for cart_item in items_list %}
            <div class="cart_row row">
                <hr>
                <div class="cart_item_image col-sm">
                    <img src="{{ cart_item.product.product_data.image_file_path|make_media }}" alt="Product image">
                </div>
                <div class="cart_item_info col-sm" >
                    <div class="cart_item_title">
                        <h2>{{ cart_item.product.product_data.name }}</h2>
                    </div>
                    <div class="cart_item_description">
                        <p>{{ cart_item.product.product_data.description }}</p>
                    </div>
                    <div class="cart_item_count">
                        <p>Count: {{ cart_item.count }}</p>
                    </div>
                    <div class="cart_item_price">
                        <p>Price: {{ cart_item.total() }}</p>
                    </div>
                </div>
                <div class="cart_item_actions col-sm">
                    <form method="post" action="{{ url_for("removeItemFromCart") }}">
                        <input type="hidden" id="productId" name="productId" value="{{ cart_item.product.id }}">
                        <button type="submit" class="btn btn-warning">Remove</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% if  items_list|length > 0 %}
                <hr>
                <form method="get" action="{{ url_for("previewOrder") }}">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-success align-center">Make order</button>
                    </div>
                </form>
            {% else %}
                <h3>Cart is empty</h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}