{% extends 'customer/base.html' %}
{% block content %}
    <div class="container pt-3">
        <div class="catalog_category_selection">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select category
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/catalog/">All categories</a></li>
                    {% for category in category_list %}
                        <li><a class="dropdown-item" href="{{ url_for("catalog") }}?category={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <br>
        {% for product in products_list %}
        <div class="catalog_row row">
            <hr>
            <div class="product_image col-sm">
                <img src="{{ product.product_data.image_file_path|make_media }}" alt="Product image">
            </div>
            <div class="product_info col-sm" >
                <div class="product_title">
                    <h2>{{ product.product_data.name }}</h2>
                </div>
                <div class="product_description">
                    <p>{{ product.product_data.description }}</p>
                </div>
                <div class="product_price">
                    <p>Price: {{ product.price }}</p>
                </div>
            </div>
            <div class="product_actions col-sm">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addToCartModal{{ product.id }}">
                    Add to cart
                </button>
                <div class="modal fade" id="addToCartModal{{ product.id }}" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <form method="post" action="{{ url_for("addToCart") }}">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addToCartModalLabel">Add {{ product.product_data.name }} to cart</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                          </div>
                          <div class="modal-body">
                            <label class="form-label" for="count">
                                Enter product count
                            </label>
                            <input class="form-control" id="count" name="count" placeholder="Enter count" type="number" min="1" value="1">
                            <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}"/>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Add</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
        {% else %}
            <h3>No items found</h3>
        {% endfor %}
    </div>
{% endblock %}