{% extends 'customer/base.html' %}
{% block content %}
    <div class="container m-2">
    <br>
        {% if orders_list is defined and orders_list|length > 0 %}
            <h1>Your orders</h1>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Creation date</th>
                  <th scope="col">Total cost</th>
                  <th scope="col">Order status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for order in orders_list %}
                <tr>
                  <td>{{ order.creation_date }}</td>
                  <td>{{ order.total() }}</td>
                  <td>{{ order.status.name }}</td>
                  <td>
                    <a class="btn btn-success" href="{{ url_for("loadOrder") }}?orderId={{ order.id }}" role="button">View details</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <h1>You don't have any orders</h1>
        {% endif %}
    </div>
{% endblock %}