{% extends 'customer/base.html' %}
{% block content %}
    <div class="container m-2">
        <h1>Order preview</h1>
    <br>
        {% if order is defined %}
            <h3>Total cost: {{ order.total() }}</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Count</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>
              <tbody>
              {% for order_item in order.order_items %}
                <tr>
                  <td>
                      <img src="{{ order_item.product.product_data.image_file_path|make_media }}" width="300px" alt="Order item image">
                  </td>
                  <td>{{ order_item.product.product_data.name }}</td>
                  <td>{{ order_item.count }}</td>
                  <td>{{ order_item.total() }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <form method="post" action="{{ url_for("makeOrder") }}">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-success align-center">Submit order</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}