{% extends 'customer/base.html' %}
{% block content %}
    <div class="container m-2">
        <h1>Order preview</h1>
    <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Count</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          {% for order_item in order.order_items %}
            <tr>
              <td>
                  <img src="{{ order_item.product.product_data.image_file_path|make_media }}" alt="Order item image">
              </td>
              <td>{{ order_item.product.product_data.name }}</td>
              <td>{{ order_item.count }}</td>
              <td>{{ order_item.total() }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}