{% extends 'seller/base.html' %}
{% block content %}
    <div class="container pt-5">
        {% if shop is defined %}
            <h3>Shop Details</h3>
            <div class="row gx-5">
                <strong>Name:</strong>
                <span>{{ shop.shop_data.name }} </span>
            </div>
            <br>
            <div class="row gx-5">
                <strong>Description:</strong>
                <p>{{ shop.shop_data.description }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}