{% extends 'base.html' %}
{% block content %}
 <div class="container">
    <h1>Create Shop</h1>
    <form method="POST" action="/createShop">
        <label for="name">Shop Name:{{ name }}</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="description">Description:{{ description }}</label>
        <input type="text" id="description" name="description" required><br><br>
        <input type="submit" value="Create Shop">
    </form>
 </div>
{% endblock %}