{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h1>Register as {{ role.value }}</h1>
    <h3>Another variants:</h3>
    <div class="row mb-3">
        {% with roles = ["customer", "seller", "moderator"] %}
            {% for role_ in roles %}
                {% if role_ != role.value %}
                    <div class="col">
                        <a href="{{ url_for("register") }}?role={{ role_ }}&next={{ next }}">{{ role_|capitalize }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for("process_register") }}?next={{ next }}">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" name="name" class="form-control" id="nameInput"
                   placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" name="email" class="form-control" id="emailInput"
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" :w
                   class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <input type="hidden" name="role" value="{{ role.value }}">
        <button type="submit" class="btn btn-primary mt-2">Register</button>
    </form>
    <div class="row">
        <div class="col">
            <span>Already have an account?&nbsp</span>
            <a href="{{ url_for("login") }}?role={{ role.value }}&next={{ next }}">Sign in</a>
        </div>
    </div>
{% endblock %}
